PUBLIC_SANITY_PROJECT_ID=p7t0rr17
PUBLIC_SANITY_DATASET=production
PUBLIC_OPEN_REMARK_SITE_KEY=cmrdcf9s3000104l7yf3kgokb
PUBLIC_ENABLE_AUTHORS_INDEX=false
SANITY_API_READ_TOKEN=your-sanity-viewer-token
SANITY_STUDIO_PREVIEW_URL=http://localhost:4321
SANITY_STUDIO_URL=http://localhost:4321/studio
